body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.container{
    display: flex;
}

.left{
    width: 45vw;
    margin-left: 2vw;
    margin-top: 2vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.right{
    position: relative;
    width: 45vw;
    margin-left: 2vw;   
}

.main-d-header-photos{
    position: relative;
    display: flex;
    overflow: hidden;
    width: 45vw;
}

.header-img-container{
    animation-name: scroll;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(-600%);
    }
}

.header-img{
    width: 48vw;
    height: auto;
}

.main-d-header{
    display: flex;
    background-image: url('../images/pixels.png');
    width: 45vw;
}

.more-contacts{
    position: absolute;
    display: flex;
    top: 20vw;
    right: 2vw;
}

.more-contacts a{
    background-color: purple;
    text-align: center;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    margin: 0.5vw;
    color: whitesmoke;
}

.bi-chat-square{
    width: 2.2vw;
    padding-top: 1vw;
}

.bi-whatsapp{
    width: 2.2vw;
    padding-top: 1vw;
}

.profile-pic{
    position: relative;
    width: 10.5vw;
    height: 10.5vw;
    overflow: hidden;
    top: -2vw;
    border-radius: 5%;
}

.contacts-list{
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1vw;
    column-gap: 1vw;
    padding-left: 1vw;
    width: 43vw;
}

.contacts-list li{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 1vw;
    width: 18.8vw;
}

.contacts-list li div a{
    display: flex;
    text-decoration: none;
    color: black;
    width: 13vw;
    font-size: 0.65em;
}

.cd{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.bi-phone{
    position: relative;
    margin-top: 15px;
}

.bi-envelope{
    position: relative;
    margin-top: 15px;
}

.bi-globe2{
    position: relative;
    margin-top: 15px;
}

.bi-github{
    position: relative;
    margin-top: 15px;
}

.headshot{
    position: relative;
    width: 18vw;
    height: auto;
    left: -4vw;
    top: -4vw;
}

.name-title{
    margin-left: 20px;
    color: whitesmoke;
}

.info{
    margin-top: 2vw;
    margin-left: 0px;
    padding-left: 0px;
}

.info li{
    position: relative;
    list-style: none;
}

.li-container{
    width: 45vw;
    height: 3.5vw;
    background-color: black;
}

.li-content{
    margin-left: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
}

.li-content b{
    margin-top: 1vw;
    margin-left: 2vw;
    color: white;
}

.lic{
    margin-top: 0.5vh;
    background-color: white;
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 13%;
}

.bi-linkedin{
    width: 2.8vw;
    height: 2.8vw;
}

.about-me{
    width: 45vw;
    margin-top: 1vw;
    background-color: whitesmoke;
    border: 0.5px solid black;
}

.label-text{
    margin-left: 2vw;
    width: 25vw;
}

.dd{
    position: relative;
    border: transparent;
}

.dd :hover{
    cursor: pointer;
}

.bi-chevron-down{
    width: 30px;
}

.bi-info-circle-fill{
    position: relative;
    margin-top: 1.4vw;
    margin-left: 1.5vw;
}

.about-me-content{
    position: absolute;
    width: 45vw;
    background-image: url('../images/pixels.png');
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    color: white;
}

.amc{
    position: relative;
    visibility: visible;
    animation-name: dropdown;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes dropdown {
    from{
        opacity: 0;
        top: -100px;
    }
    to{
        opacity: 1;
        top: 0px;
    }
}

@keyframes dropup {
    from{
        opacity: 1;
        top: 0px;
    }
    to{
        opacity: 0;
        top: -100px;
    }
}

.label{
    display: flex;
    width: 45vw;
    margin-top: 10px;
    background-color: whitesmoke;
    border: 0.5px solid black;
    position: relative;
}


.dd2{
    position: relative;
    border: transparent;
}

.dd2 :hover{
    cursor: pointer;
}

.dd3{
    position: relative;
    border: transparent;
}

.dd3 :hover{
    cursor: pointer;
}

.dd4{
    position: relative;
    border: transparent;
}

.dd4 :hover{
    cursor: pointer;
}

li button{
    position: relative;
    margin-left: 5vw;
    margin-top: 1.5vh;
    padding: 0px;
}

.bi-briefcase-fill{
    position: relative;
    margin-top: 1.4vw;
    margin-left: 1.5vw;
}

.bi-book-fill{
    position: relative;
    margin-top: 1.4vw;
    margin-left: 1.5vw;
}

.bi-easel2-fill{
    position: relative;
    margin-top: 1.4vw;
    margin-left: 1.5vw;
}

.ghl{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .container{
        display: inline-block;
    }

    .left{
        width: 95vw;
    }

    .right{
        width: 95vw;
    }

    .header-img{
        width: 100vw;
    }

    .main-d-header-photos{
        width: 95vw;
    }
    
    .main-d-header{
        width: 95vw;
    }

    .more-contacts{
        top: 45vw;
    }

    .more-contacts a{
        width: 7vw;
        height: 7vw;
    }

    .bi-chat-square{
        width: 4vw;
        padding-top: 1.5vw;
    }
    
    .bi-whatsapp{
        width: 4vw;
        padding-top: 1.5vw;
    }

    .profile-pic{
        width: 21vw;
        height: 21vw;
    }

    .headshot{
        width: 31vw;
    }

    .contacts-list{
        width: 95vw;
    }

    .contacts-list li{
        width: 43vw;
    }

    .li-container{
        width: 95vw;
        height: 7vw;
    }

    .lic{
        width: 4vw;
        height: 4vw;
    }

    .bi-linkedin{
        width: 4vw;
        height: 4vw;
    }

    .label-text{
        width: 60vw;
    }

    .about-me-content{
        width: 95vw;
    }

    .label{
        width: 94vw;
    }

    .bi-info-circle-fill{
        margin-top: 2.5vh;
    }

    .bi-briefcase-fill{
        margin-top: 2.5vh;
    }

    .bi-book-fill{
        margin-top: 2.5vh;
    }

    .bi-easel2-fill{
        margin-top: 4vw;
    }
}